[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "SAMEORIGIN"

[build]
  base = ""
  publish = "public"
  command = "NODE_OPTIONS=--openssl-legacy-provider npm run build"

[build.environment]
  GATSBY_WORDPRESS_GRAPHQL_URL= "https://backend.esc-geretsried.de/graphql"
  GATSBY_BACKEND_URL= "https://backend.esc-geretsried.de/"
  GATSBY_UPLOADS_URL= "https://backend.esc-geretsried.de/wp-content/uploads/"
  NODE_VERSION = "22.22.0"
  NODE_OPTIONS = "--openssl-legacy-provider"

[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true

