@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration-thickness: 2px;
}

body {
  @apply bg-blue text-ice;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.stack > * + * {
  margin-block-start: var(--stack-spacing, 1rem);
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-rubik italic;
}
